.img-thumail {
    width: 100%;
    /* height: 120px; */
}
h6 {
    line-height: 22px;
}
.text-muted {
    font-size: 16px;
}
.swal2-close {
    font-size: 28px !important;
}
.swal2-close:hover {
    color: rgb(255, 174, 0) !important;
}

.btn-edit:hover {
    background-color: rgb(238, 238, 238);
}
.swal2-header {
    align-items: flex-start;
}
.swal2-title {
    margin: 0 !important;
    text-align: left;
}
.swal2-content {
    text-align: left !important;
    padding: 26px !important;
}

.swal2-styled.swal2-confirm {
    background-color: #006a4d;
}
.swal2-actions {
    margin-top: 0;
    justify-content: center !important;
}
.swal-wide {
    width: 850px !important;
}
.swal2-checkbox {
    display: none !important;
}

.checkout-option:hover {
    cursor: pointer;
    border-radius: 5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    background-color: rgb(238, 238, 238);
}

.text-address {
    font-size: 13px;
}

.addresses {
    height: 100%;
    margin: auto;
}
.addresses:hover {
    color: #fff;
    cursor: pointer;
    background-color: #006a4ec4;
}
.edit-addresses:hover {
    text-decoration: underline;
}

.addresses-active {
    color: #fff;
    cursor: pointer;
    background-color: #006a4ec4;
}

/*  */
@media screen and (max-width: 500px) {
    .col-5 {
        flex: none !important;
        max-width: none !important;
    }

    div.col-3 > img {
        max-width: none !important;
        width: 110px !important;
    }
    div.row > div.col-9 {
        padding-left: 58px !important;
    }
}
